body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
body input, body textarea, body .btn, body button {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}

blockquote p {
  font-weight: 400;
}

.hairline {
  font-weight: 400 !important;
}
.hairline strong {
  font-weight: 400;
}

.light {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.black {
  font-weight: 900 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.lead {
  font-weight: 400;
}
.lead strong {
  font-weight: 500;
}

#masthead {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-brand {
  font-weight: 400;
}
